.wrapper {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin-top: 4%;

  .serviceTypes {
    margin-top: 3%;
    background-image: url("../../../public/services-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 30px 12%;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .mediaSwiper,
  .swiper {
    display: none;
    background-image: url("../../../public/services-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (max-width: 768px) {
    .serviceTypes {
      display: none;
    }

    .swiper {
      display: block;
      width: 100%;
      margin: 0 auto;
      padding: 5%;
      margin-top: 0%;
    }
  }

  @media (max-width: 376px) {
    .serviceTypes {
      display: none;
    }

    .swiper {
      display: none;
    }

    .mediaSwiper {
      display: block;
      width: 100%;
      margin: 0 auto;
      padding: 7%;
      margin-top: 0%;
    }
  }
}
