.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 3.5%;
  width: 80%;

  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 15px;
    margin-top: 5%;
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: #0d4c93;
    font-size: 1.1rem;
    margin-top: 5%;
    transition: all 0.2s linear;
  }

  .swiper,
  .mediaSwiper {
    display: none;
    width: 100%;
    margin: 0 auto;
    padding: 5%;
    margin-top: 3%;
  }

  @media (max-width: 991px) {
    width: 100%;

    .swiper {
      display: block;
    }

    .products {
      display: none;
    }

    .link {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 576px) {
    .swiper {
      display: none;
    }

    .mediaSwiper {
      display: block;
    }
  }
}
