.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 3%;
  width: 80%;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
    img {
      object-fit: contain;
      transform: translateX(100px);
      margin-bottom: 50px;
    }

    .textWrap {
      background: linear-gradient(
        180deg,
        #f5f5f5 0%,
        rgba(245, 245, 245, 0) 100%
      );
      padding: 30px;
      border-radius: 0 30px 30px 0;
      padding-left: 10%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      p {
        font-size: 0.9rem;
        line-height: 30px;
        color: #363535;
      }

      button {
        padding: 12px 35px;
        margin: 20px 0;
      }
    }
  }
}
