* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.ant-select-selector {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;


  &::after,
  &::before {
    display: none;
  }
}


.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  border: 1px solid #00C9C9;
  background-color: #fff !important;
}

.swiper-pagination-bullet-active {
  background-color: #00C9C9 !important;
}

.swiper-button-prev,
.swiper-button-next {
  background: linear-gradient(180deg, #0D4C93 0%, #00C9C9 100%);
  padding: 20px !important;
  border-radius: 50%;
  width: 25px !important;
  height: 25px !important;
  color: #fff !important;
}


.swiper-button-next:after {
  font-size: 18px !important;
}

.swiper-button-prev:after {
  font-size: 18px !important;
}