.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;

  a {
    text-decoration: none;
  }

  .center {
    .mediaLogo {
      display: none;
    }
  }

  .left,
  .right,
  .mediaRight {
    .itemsWrap {
      display: flex;
      align-items: center;
      gap: 20px;

      .item {
        display: flex;
        align-items: center;
        gap: 15px;

        .flags {
          font-size: 18px;
          display: flex;
          align-items: center;
          gap: 5px;
        }

        p {
          font-size: 0.8rem;
        }

        .phoneNumbers {
          display: flex;
          flex-direction: column;
          a {
            text-decoration: none;
            color: #5a5a5a;
          }
        }

        .child,
        .languageChild {
          border-radius: 30px;
          background-color: #fff;
          padding: 10px 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;

          p {
            font-size: 0.9rem;
            color: #0d4c93;
          }
        }

        .imgWrap {
          display: flex;
          align-items: center;
          background-color: #fff;
          justify-content: center;
          padding: 10px;
          border-radius: 50%;
        }
      }
    }
  }

  .mediaRight {
    display: none;
  }

  @media (max-width: 991px) {
    width: 95%;
    .left,
    .right {
      display: none;
    }

    .mediaRight {
      display: block;

      .itemsWrap {
        .item {
          .languageChild {
            padding: 4px 10px;
          }
        }
      }
    }
  }

  @media (max-width: 576px) {
    .center {
      .desktopLogo {
        display: none;
      }
      .mediaLogo {
        display: block;
      }
    }

    .mediaRight {
      .itemsWrap {
        .item {
          .languageController {
            padding: 3px;
          }
          .flags {
            font-size: 18px;
          }

          .languageChild {
            padding: 5px 4px;
          }
        }

        .hiddenMobile {
          display: none;
        }
      }
    }
  }
}
