.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;

  .swiper,
  .tabletSwiper,
  .mobileSwiper {
    width: 80%;
    margin: 0 auto;
    padding: 5%;

    .swiperItem {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 40px;

      img {
        object-fit: contain;
        padding: 10px;
        border: 1px solid #ececec;
        border-radius: 30px;
        user-select: none;
      }
    }
  }

  .tabletSwiper,
  .mobileSwiper {
    display: none;
  }

  @media (max-width: 991px) {
    margin-top: 0;

    .swiper {
      display: none;
    }

    .tabletSwiper {
      display: block;
      padding: 0 9%;
      width: 90%;
      margin-top: 3%;

      .swiperItem {
        gap: 20px;
      }
    }
  }

  @media (max-width: 576px) {
    .tabletSwiper {
      display: none;
    }

    .mobileSwiper {
      display: block;
      padding: 0 9%;
      width: 100%;
      margin-top: 3%;

      .swiperItem {
        margin-bottom: 50px;
      }
    }
  }
}
