.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 15px;

  button {
    border-radius: 30px;
    background-color: #fff;
    color: #0d4c93;
    border-color: #f2f2f2 !important;
    padding: 12px 40px;
    position: relative;

    &:hover {
      background-color: #fafafa;
      color: #00c9c9;
    }

    .dot {
      height: 8px;
      width: 8px;
      position: absolute;
      left: 88%;
      top: 20%;
      border-radius: 50%;
      background-color: #00c9c9;
    }
  }

  @media (max-width: 991px) {
    display: none;
  }
}
