.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;

  img {
    border-radius: 30px;
  }

  .swiper,
  .tabletSwiper,
  .mobileSwiper {
    width: 80%;
    margin: 0 auto;
    padding: 5%;
    margin-top: 3%;
  }

  .tabletSwiper,
  .mobileSwiper {
    display: none;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;

    a {
      text-decoration: none;
      color: #0d4c93;
      transition: all 0.2s linear;
      font-size: 1rem;

      &::after {
        content: "->";
        width: 15px;
        height: 15px;
        margin-left: 5px;
        color: #0d4c93;
        transition: all 0.2s linear;
      }

      &:hover {
        color: #00c9c9;

        &::after {
          content: "->";
          width: 15px;
          height: 15px;
          margin-left: 5px;
          color: #00c9c9;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .swiper {
      display: none;
    }

    .tabletSwiper {
      display: block;
      padding: 8% 0;
      width: 90%;
    }

    .links {
      display: none;
    }
  }

  @media (max-width: 376px) {
    .swiper,
    .tabletSwiper {
      display: none;
    }

    .mobileSwiper {
      display: block;
      padding: 15% 0;
      width: 90%;
    }
  }
}
