.wrapper {
  background-image: url("../../../public/bg.png"),
    linear-gradient(rgba(243, 243, 243, 1), rgba(243, 243, 243, 1));
  height: 95vh;
  display: flex;
  flex-direction: column;
  position: relative;

  .mediaModal {
    position: absolute;
    z-index: 100;
    width: 100%;
    background-image: url("../../../public/bg.png");
    backdrop-filter: blur(20px);
    height: 100vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;

    ul {
      display: flex;
      flex-direction: column;
      margin-top: 4%;
      gap: 25px;
      text-align: center;
      li {
        list-style: none;

        a {
          color: #0d4c93;
          transition: all 0.2s linear;
          font-size: 1.1rem;
          text-decoration: none;

          &:hover {
            color: #00c9c9;
          }
        }
      }
    }
  }
}

.swiper {
  width: 100%;
  padding: 0 11%;
  margin-top: 2.5%;

  @media (max-width: 768px) {
    padding: 0 4%;
  }
}

.sliderItem {
  display: flex;
  justify-content: center;
  align-items: center;
  .sliderLeft {
    h1 {
      font-size: 2.5rem;
      font-weight: 500;
      color: #0d4c93;
    }

    p {
      width: 90%;
      font-size: 1.1rem;
      padding: 15px 0;
      font-weight: 400;
      line-height: 30px;
    }
  }

  .sliderRight {
    margin-top: 60px;
    width: 50%;

    img {
      object-fit: contain;
    }
  }

  @media (max-width: 768px) {
    .sliderLeft {
      width: 100%;
      margin-top: 5%;

      h1 {
        font-size: 2.8rem;
      }

      button {
        margin-bottom: 80px;
      }

      p {
        width: 100%;
        font-size: 1.3rem;
      }
    }
    .sliderRight {
      display: none;
    }
  }

  @media (max-width: 376px) {
    .sliderLeft {
      width: 100%;
      margin-top: 5%;

      h1 {
        font-size: 1.9rem;
      }

      button {
        margin-bottom: 60px;
        width: 93%;
      }

      p {
        width: 100%;
        font-size: 1.1rem;
        line-height: 25px;
      }
    }
  }
}
